<%= form_for @customer do |f| %>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :name, 'Site Name'%>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      </div>
    <div class="row">

    <div class="form-group col-sm-6">
        <%= f.label :from_email, 'From Email'%>
        <%= f.text_field :from_email, class: 'form-control' %>
        @<%= @customer.url %>
      </div>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>
<h3>Layouts</h3>
<%= link_to 'Email Invitations', email_configuration_path('2') %><br>
<%= link_to 'Email Confirmation', email_configuration_path('1') %><br>
