<%= render 'shared/errors', object: @customer %>
<div class="note"></div>
<%= form_for @customer, remote: true do |f| %>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :from_email, 'From Email' %>
        <%= f.text_field :from_email, {onchange: 'warn', class: 'form-control'} %>
        @<%= @customer.url %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :table_size, 'Default Table Size' %>
        <%= f.text_field :table_size, {class: 'form-control'} %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :current_invitation, 'Invitation Email' %>
        <%= f.collection_select :current_invitation, EmailTemplate.where(:email_type_id => 1), :id, :name,{}, {onchange: 'invitation.call(this, event)', class: 'form-control'} %>
        <%= link_to 'Edit Current Invitation', email_configuration_path(@customer.current_invitation), class: 'btn btn-default', id: 'invitation-link' %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :current_confirmation, 'Confirmation Email'%>
        <%= f.collection_select :current_confirmation, EmailTemplate.where(:email_type_id => 2), :id, :name, {}, {onchange: 'confirmation.call(this, event)', class: 'form-control'}  %>
        <%= link_to 'Edit Current Confirmation', email_configuration_path(@customer.current_confirmation), class: 'btn btn-default invitation' %>
      </div>
    </div>
    <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>

<br>
<h4>Users</h4><%= link_to 'Add New User', { controller: :users, action: :new }, class: 'btn btn-success' %>
<table class="table table-hover">
  <% @customer.users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
      </tr>
  <% end %>
</table>
