<script type="text/javascript">
  $(document).ready (function () {
    var party_size = <%= @reservation.party_size ? @reservation.party_size : 1 %>
      if (party_size < 6) {
        $("#person5").hide();
      }
      if (party_size < 5) {
        $("#person4").hide();
      }
      if (party_size < 4) {
        $("#person3").hide();
      }
      if (party_size < 3) {
        $("#person2").hide();
      }
      if (party_size < 2) {
        $("#person1").hide();
      }
  });
</script>
<div class="rsvp_area">
  <div class="contact-block rsvp_form">
    <div class="row">
      <%= form_for @reservation do |f| %>
          <div class="form-group">
            <div class="rsvp-row">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-9">
                  <%= f.text_field :name, placeholder: 'Reservation Name', class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-gvroup">
            <div class="row rsvp-row">
              <div class="col-sm-9 col-sm-offset-1" style="margin-top: 20px">
                <div class="col-sm-9">
                There will be <%= f.select :party_size, options_for_select([['One', '1'], ['Two', '2'], ['Three', '3'],['Four', '4'], ['Five', '5'], ['Six', '6']], @reservation.party_size), {}, onChange: 'reservationSize.call(this, event)' %> people in this party.
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-9 col-sm-offset-1">
                <div class="col-sm-9">
                  Group
                  <%= f.collection_select :group_id, Group.order(:name).where(customer_id: session[:customer_id]), :id, :name, {}, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
        <%= f.fields_for :persons do |builder| %>
            <%= render 'reservations/person_fields', :f => builder %>
        <% end %>
          <div class="address form-group">
            <div class="row rsvp-row">
              <div class="col-sm-9 col-sm-offset-1">
                <div class="col-sm-8 reached-at">The party can be reached at</div>
                <div class="col-sm-10 col-sm-offset-1"><%= f.text_field :address, placeholder: 'Address', class: 'form-control' %></div>
                <div class="rsvp-row">
                  <div class="col-sm-5 col-sm-offset-1"><%= f.text_field :city, placeholder: 'City', class: 'form-control' %></div>
                  <div class="col-sm-2"><%= f.text_field :state, placeholder: 'State', class: 'form-control', maxlength: 2 %></div>
                  <div class="col-sm-3"><%= f.text_field :zip, placeholder: 'Zip', class: 'form-control', maxlength: 5 %></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="rsvp-row">
              <div class="col-sm-10 col-sm-offset-1"><%= f.text_field :email, placeholder: 'EMail', class: 'form-control' %></div>
            </div>
          </div>
          <div class="row rsvp-row">
            <div class="col-sm-2 col-sm-offset-7">
              <%= f.submit 'submit', class: 'btn default-btn btn-block' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

