<h1>Confirmed Reservations for <%= session[:customer_name] %></h1>
<%= link_to 'Add New', new_reservation_path, class: 'btn btn-success', type: 'button' %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Reservation Date</th>
  </tr>
  </thead>
  <tbody>
  <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to  reservation.name, reservation %></td>
        <td><%= link_to  'Link', root_path + '?confirm=' + reservation.temporary_id %></td>
        <td><%= reservation.registration_time %></td>
        <td><%= link_to  'Delete', reservation, method: :delete, data: {confirm: 'Are you sure?'}  %></td>
      </tr>
  <% end %>
  </tbody>
</table>