<h1>Reservations for <%= session[:customer_name] %></h1>
<%= link_to 'Add New', new_reservation_path, class: 'btn btn-success', type: 'button' %>
<a href="javascript:AlertIt();" class="btn btn-success" >Sent Unsent Invitations</a>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Reservation Size</th>
    <th>Group</th>
    <th>Link</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to  reservation.name, reservation %></td>
        <td><%= reservation.email %></td>
        <td><%= reservation.party_size %></td>
        <td><%= reservation.group.name unless reservation.group.nil? %></td>
        <td><%= public_link(reservation)  %></td>
        <td><%= status(reservation) %></td>
        <td><%= link_to  'Delete', reservation, method: :delete, data: {confirm: 'Are you sure?'}  %></td>
      </tr>
  <% end %>
  </tbody>
</table>