<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body bgcolor="#8d8e90">
<%= @email_configurations.where(field_id: 2).first.value %> <%= @reservation.name %>,<br>
<%= @email_configurations.where(field_id: 3).first.value %> <%= link_to('www.fallforthetawachis.com', root_path + 'id/' + @reservation.public_id) %> <%= @email_configurations.where(field_id: 6).first.value %><br><br>

<%= @email_configurations.where(field_id: 4).first.value %>,
<%= @email_configurations.where(field_id: 5).first.value %>

</body>
</html>