A new ticket was created with a title of <%= @support_ticket.title %>.<br>
Created for customer <%= @support_ticket.customer.name %>.<br>
This was created by <%= @support_ticket.user.full_name %>.<br>
<a href="http://app.lucentdigital.com/support_tickets/<%= @support_ticket.id %>"><%= @support_ticket.title %></a>
