<%= form_for @support_ticket do |f| %>
    <h1><%= @support_ticket.title %></h1>
    <h4><%= @support_ticket.description %></h4>
    <div class="row">
      <div class="col-sm-6">
        <% @support_ticket.support_comments.each do |comment| %>
            <div class="alert alert-warning">
              <div class="col-sm-offset-1 col-sm-4">
              </div>
              <div class="col-sm-offset-8">
              </div>
              <%= comment.comment %>
            </div>
            <br>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.fields_for :support_comments do |builder|  %>
              <%= builder.text_area :comment, placeholder: 'Comment', class: 'form-control', rows: 6 %>
          <% end %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>

