<h1><%= @support_ticket.title %></h1>
<h4>Created by: <%= @support_ticket.user.full_name %></h4>
<h4><%= @support_ticket.description %></h4>
<div class="row">
  <div class="col-sm-6">
    <% @support_ticket.support_comments.each do |comment| %>
        <div class="alert alert-warning">
          <div class="row">
            <div class=" col-sm-4">
              <em>By <%= comment.user.full_name %></em>
            </div>
            <div class="col-sm-offset-1 col-sm-6">
              <%= formatted_time(comment.created_at) %>
            </div>
          </div>
          <div class="col-sm-offset-8 col-sm-offset-1">
          <%= comment.comment %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<% unless @support_ticket.is_closed %>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= render 'support_comments/form' %>
    </div>
  </div>
</div>
<% end %>